<div class="page page-onboarding">

    <div class="section">
        {{>elements-logo-l}}
    </div>
    <div class="section">
        {{> atoms-button-white-md}}
        {{> atoms-button-bare message="HHHH"}}

    </div>
    <div class="section">
        <img src="../../images/start.png" />
    </div>
</div>