<div class="page page-onboarding">

    <div class="section">
        {{> elements-logo-l}}
    </div>
    <div class="section">
        <div class="button-group">
            {{> atoms-button-white-md message="Увійти"}}
            {{> atoms-button-bare message="Зареєструватися"}}
        </div>
    </div>
    <div class="section">
        <img src="../../images/start.png" />
    </div>
</div>