<label class="label label_icon">
    {{> atoms-icon style="primary" icon="map-pin" size="lg"}}
    <span class="label__text label__text_size_m">Маріїнський парк, Михайла Грушевського, 34</span>
</label>