/* Customize the label (the y-container) */
.y-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.y-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.y-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $base-white;
  border: 2px solid $base-dark-grey;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.y-container:hover input ~ .y-checkbox {
  background-color: $dark-grey-40;
}

/* When the checkbox is checked, add a blue background */
.y-container input:checked ~ .y-checkbox {
  background-color: $base-white;
  &:hover {
    background-color: $dark-grey-40;
  }
}

/* Create the y-checkbox/indicator (hidden when not checked) */
.y-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the y-checkbox when checked */
.y-container input:checked ~ .y-checkbox:after {
  display: block;
  top: 0;
  left: 4px;
}

/* Style the y-checkbox/indicator */
.y-container .y-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 1px solid $base-dark-grey;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
