<ul class="bullet-pagination">
    <li class="point"><i class="fa fa-circle"></i></li>
    <li class="point active"><i class="fa fa-circle"></i></li>
    <li class="point"><i class="fa fa-circle"></i></li>
    <li class="point"><i class="fa fa-circle"></i></li>
</ul>