<div class="page page-onboarding">

    <div class="section onboarding-section image-section">
        <img src="images/onboarding/onboarding_1.png" />
    </div>
    <div class="section onboarding-section onboarding-title">
        <h2>Створюй події</h2>
        <p>Шукаєш з ким пограти у футбол чи вигуляти собаку? Створи подію в Yapidoo, інші побачать та приєднаються.
        </p>
    </div>
    <div class="section onboarding-section onboarding-pagination">
        <ul class="bullet-pagination">
            <li class="point"><i class="fa fa-circle"></i></li>
            <li class="point active"><i class="fa fa-circle"></i></li>
            <li class="point"><i class="fa fa-circle"></i></li>
            <li class="point"><i class="fa fa-circle"></i></li>
        </ul>
        <button class="button-text next">
            Далі
    </div>
</div>