<div class="page page-onboarding">

    <div class="section onboarding-section image-section">
        <img src="/images/onboarding/onboarding_1.png" />
    </div>
    <div class="section onboarding-section onboarding-title">
        <h2>Створюй події</h2>
        <p>Шукаєш з ким пограти у футбол чи вигуляти собаку? Створи подію в Yapidoo, інші побачать та приєднаються.
        </p>
    </div>
    <div class="section onboarding-section onboarding-pagination">
        {{> components-circle-pagination}}
        {{> atoms-button-bare message="Далі"}}
    </div>
</div>