/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto-black-webfont.woff2") format("woff2"), url("../../../fonts/roboto-black-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../../../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto-light-webfont.woff2") format("woff2"), url("../../../fonts/roboto-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto-medium-webfont.woff2") format("woff2"), url("../../../fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../../../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../../../fonts/roboto-thin-webfont.woff2") format("woff2"), url("../../../fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h5 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}

/*------------------------------------*\
    #ATOMS
\*------------------------------------*/
/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * Border-Box http:/paulirish.com/2012/box-sizing-border-box-ftw/
 */
* {
  box-sizing: border-box;
}

/**
 * 1) Zero out margins and padding for elements
 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/**
 * 1) Set HTML5 elements to display: block
 */
header, footer, nav, section, article, figure {
  display: block;
}

ul {
  list-style: none;
}

.button {
  background-color: #FF8219;
  border-radius: 20px;
  font-weight: bolder;
  height: 40px;
  border: none;
  width: 100%;
  min-width: fit-content;
}

.button:hover {
  background-color: #FFE81E;
}

.button:active {
  background-color: #FFE81E;
}

.button.button-white {
  background-color: #F5F6F8;
  color: #FF8219;
}

.button.button-white:hover {
  background-color: rgba(255, 130, 25, 0.2);
}

.button.button-white:active {
  background-color: rgba(255, 130, 25, 0.4);
}

.button.button-text {
  background: none;
  text-transform: uppercase;
}

.button.button-text:hover {
  background-color: rgba(255, 130, 25, 0.2);
}

.button.button-text:active {
  background-color: rgba(255, 130, 25, 0.4);
}

.button.button-md {
  text-transform: uppercase;
  min-width: 124px;
  width: 60%;
  height: 40px;
}

.button.button-sm {
  width: 98px;
  min-width: fit-content;
  height: 28px;
}

.button.button-icon {
  font-size: 1rem;
  color: #FFFFFF;
  height: 30px;
  width: 30px;
  line-height: 0;
  border-radius: 50%;
  background-color: #333333;
}

.button.button-icon.facebook {
  width: 50px;
  height: 50px;
  background-color: #0375e8;
  font-size: 2rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-group .button {
  margin-top: 1rem;
}

i.fa.primary {
  color: #FF8219;
}

i.fa.default {
  color: #333333;
}

i.fa.secondary {
  color: #FFE81E;
}

/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/
select,
input[type="text"],
textarea {
  background-color: #F5F6F8;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #EBEBEB;
}

select:hover,
input[type="text"]:hover,
textarea:hover {
  border: 1px solid rgba(255, 130, 25, 0.6);
  stroke-opacity: 0.6;
}

select:focus,
input[type="text"]:focus,
textarea:focus {
  border: 1px solid #ff8219;
}

input[type="checkbox"] {
  font-size: 20px;
  line-height: 16px;
  color: #333333;
}

/* Customize the label (the y-container) */
.y-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.y-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.y-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border: 2px solid #333333;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
.y-container:hover input ~ .y-checkbox {
  background-color: #ADADAD;
}

/* When the checkbox is checked, add a blue background */
.y-container input:checked ~ .y-checkbox {
  background-color: #FFFFFF;
}

.y-container input:checked ~ .y-checkbox:hover {
  background-color: #ADADAD;
}

/* Create the y-checkbox/indicator (hidden when not checked) */
.y-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the y-checkbox when checked */
.y-container input:checked ~ .y-checkbox:after {
  display: block;
  top: 0;
  left: 4px;
}

/* Style the y-checkbox/indicator */
.y-container .y-checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 1px solid #333333;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container must be positioned relative: */
.y-select {
  position: relative;
  font-family: Arial;
  color: #000000;
}

.y-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: #F5F6F8;
  border-radius: 8px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border-color: #F5F6F8 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #FF8219 transparent;
  top: 7px;
}

.select-arrow-active:first() {
  border: 1px solid #FF8219;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #000000;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #F5F6F8;
  top: 110%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 8px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(255, 130, 25, 0.2);
  font-weight: 500;
}

.category-icon {
  display: flex;
  flex-direction: column;
  width: 76px;
  height: 86px;
  border-radius: 6px;
  box-shadow: #FF8219 1px;
  align-content: center;
  box-shadow: 0px 1.56098px 7.80488px rgba(0, 0, 0, 0.2);
}

.category-icon .category-icon__icon {
  height: 75%;
  padding: 12px 0;
  text-align: center;
  font-size: 28px;
  color: #FF8219;
}

.category-icon .category-icon__text {
  height: 25%;
  font-size: 0.85rem;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 90%;
}

.label {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label_primary {
  color: #FF8219;
}

.label__text {
  margin-left: 0.75rem;
}

.label__text_size_m {
  font-size: 15px;
}

.label__text_size_s {
  font-size: 13px;
}

.label__text_bold {
  font: small-caps bold 13px "Jost", sans-serif;
}

.label.label-input {
  font: 15px "Jost", sans-serif;
  font-weight: 600;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
.page {
  min-height: 667px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.page-onboarding {
  background-color: #C0F6FD;
}

.section {
  flex-grow: 1;
  text-align: center;
  padding: 0 10%;
  margin: 0 0 72px 0;
}

.section h2 {
  margin-bottom: 24px;
}

.image-section {
  background-color: #FFFFFF;
  border-radius: 0 0 50% 50%;
  flex-grow: 2;
  padding: 118px 0 40px 0;
  margin-bottom: 30%;
}

.image-section img {
  border-radius: 36px;
  width: 72%;
}

.onboarding-pagination {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.bullet-pagination {
  display: flex;
  margin: 36px auto;
}

.point {
  margin: 0 4px;
  color: #ADADAD;
}

.point.active {
  color: #FF8219;
}

button {
  cursor: pointer;
}

.button-text {
  background: none;
  color: #000000;
  border: 1px solid transparent;
  font-size: 1.2rem;
  text-transform: uppercase;
}

/*------------------------------------*\
    #PAGES
\*------------------------------------*/
/*------------------------------------*\
/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
