/*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * LAYOUT.................................Layout-specific styles
 * COMPONENTS.............................Component styles
 * UTILITIES..............................Utility classes
 */
/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
/*------------------------------------*\
    #BASE
\*------------------------------------*/
.y-button {
  background-color: #FF8219;
  border-radius: 10px;
  height: 50px;
  border: none;
  width: 100%;
}

.y-button:hover {
  background-color: #FFE81E;
}

.y-button:active {
  background-color: wheat;
}

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
