.button {
  background-color: $brand-primary;
  border-radius: $button-border-radius;
  font-weight: bolder;
  height: 40px;
  border: none;
  width: 100%;
  min-width: fit-content;
  &:hover {
    background-color: $brand-secondary;
  }

  &:active {
    background-color: $brand-secondary;
  }

  //White
  &.button-white {
    background-color: $background-grey;
    color: $brand-primary;
    &:hover {
      background-color: $brand-primary-20;
    }
    &:active {
      background-color: $brand-primary-40;
    }
  }

  //Bare
  &.button-text {
    background: none;
    text-transform: uppercase;
    &:hover {
      background-color: rgba(255, 130, 25, 0.2);
    }

    &:active {
      background-color: rgba(255, 130, 25, 0.4);
    }
  }

  //Size
  &.button-md {
    text-transform: uppercase;
    min-width: 124px;
    width: 60%;
    height: 40px;
  }

  &.button-sm {
    width: 98px;
    min-width: fit-content;
    height: 28px;
  }

  //Icon
  &.button-icon {
    font-size: 1rem;
    color: $base-white;
    height: 30px;
    width: 30px;
    line-height: 0;
    border-radius: 50%;
    background-color: $base-dark-grey;
    &.facebook {
      width: 50px;
      height: 50px;
      background-color: $facebook-color;
      font-size: 2rem;
    }
  }
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .button {
    margin-top: 1rem;
  }
}
