<div class="category-icon">
    <!-- icon-sizes:  sm, lg 2x..10x -->
    <div class="category-icon__icon">
        <i class="fa
    {{#if icon}}
        fa-{{icon}}
    {{else}}
        fa-circle     
    {{/if}}
    {{#if size}}
        fa-{{size}}
    {{/if}}"></i>
    </div>
    <div class="category-icon__text">
        <span>{{text}}</span>
    </div>
</div>