// Brand Colors
$brand-primary: #FF8219;
$brand-secondary: #FFE81E;

//Gray and gradients
$background-grey: #F5F6F8;
$dark-grey-10: #EBEBEB;
$dark-grey-20: #D6D6D6;
$dark-grey-40: #ADADAD;
$dark-grey-70: #707070;
$background-blue: #C0F6FD;

//Base colors
$base-red: #D81B1B;
$base-black: #000000;
$base-dark-grey: #333333;
$base-white: #FFFFFF;
$background-color: #656565;
$background-white: #ffffff;

// 3rd-Party Brand 
$facebook-color:#0375e8;